<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="RestUrl.Authority" value="https://login.windows.net/common/oauth2/authorize/" />
    <add key="RestUrl.Resource" value="https://analysis.windows.net/powerbi/api" />
    <add key="RestUrl.Api" value="https://api.powerbi.com/" />
    <add key="RestUrl.Workspaces" value="https://api.powerbi.com/v1.0/myorg/groups/" />
  </appSettings>
  
</configuration>